<!-- ../partials/admin/footer -->
<nav class="navbar custom-navbar">
    <div class="container-fluid">
        <div class="ms-auto"> <!-- ms-auto pushes the button to the right -->
            <a href="/admin/logout" class="btn btn-danger">Logout</a>
        </div>
    </div>
</nav>