<div class="sidebar">
    <h2 class="text-center p-3">Admin</h2>
    <ul>
        <li><a href="/admin" class="active"><i class="fa fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="/admin/customers"><i class="fa fa-users"></i> Customers</a></li>
        <li><a href="/admin/category"><i class="fa fa-th-large"></i> Category</a></li>
        <li><a href="/admin/add-product"><i class="fa fa-plus"></i> Add Products</a></li>
        <li><a href="/admin/products"><i class="fa fa-box"></i> Products</a></li>
        <!-- <li><a href="/admin/coupons"><i class="fa fa-tag"></i> Coupons</a></li>
        <li><a href="/admin/banners"><i class="fa fa-image"></i> Banners</a></li> -->
        <li><a href="/admin/orders"><i class="fa fa-shopping-cart"></i> Orders</a></li>
    </ul>
</div>